{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "airbnb", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": "warn",
    "import/prefer-default-export": "off",
    "react/require-default-props" : "off",
    "camelcase": "off",
    "no-unused-vars": "warn",
    "no-underscore-dangle": "warn",
    "no-restricted-globals": "off",
    "no-console": "off"
  }
}
