@import url("https://fonts.googleapis.com/css?family=Roboto:100i,300,400,500,700,900&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 2rem auto;
}

.section-title {
  font-weight: 400;
}

.movie-title {
  font-weight: 300;
}

.card {
  margin: 2rem;
}

.cover {
  .picture {
    width: 300px;
    border-radius: 5px;
  }  
}


.container {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  width: 300px;

  .imgContainer {
    height: 300px;
    width: 300px;
    border-radius: 5px;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  }
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .6)
  }
  .movie-title {
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    bottom: 0;
    padding-left: 2rem;
  }
}

// Large Card
.large {
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    overflow: hidden;
    width: 400px;
  }
  .title-container {
    background: #ddd;
    color: #000;
    overflow: hidden;
    flex: 1; 
    align-items: center;
    justify-content: center;
    display: flex; 
  }
  .picture {
    width: 200px;
  }
}

.large-overlay {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  width: 500px;
  height: 500px;
  background-size: cover;
  .imgContainer {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .6)
  }
  .movie-title {
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    bottom: 0;
    padding-left: 2rem;
  }
}

.card-container {
  display: grid;
}

.vertical-list {
  display: block;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 100%;
  max-height: 550px;
  .card {
    display: inline-block;
  }
}
